.container {
  max-width: 1440px;
  background-color: #fff;
  background-repeat: repeat-y;
}

@import url("https://i02.appmifile.com/i18n/fonts/CamphorPro/vf/index.css");
@import url("https://i02.appmifile.com/i18n/fonts/CamphorPro/woff2/index.css");

body {
  font-family: "Camphor Pro", sans-serif;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.title {
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  font-family: "Camphor Pro", sans-serif;
  position: relative;
  line-height: 1;
  overflow-wrap: break-word;
  color: #292929;
}

.subtitle {
  text-align: center;
  font-size: 2.3rem;
  font-weight: 600;
  font-family: "Camphor Pro", sans-serif;
  position: relative;
  margin-bottom: 1rem;
  overflow-wrap: break-word;
}

.sub-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  font-family: "Camphor Pro", sans-serif;
  position: relative;
  margin-bottom: 1rem;
  overflow-wrap: break-word;
}

.p-center {
  font-size: 1.1rem;
  text-align: center;
  padding: 20px;
  font-family: "Camphor Pro", sans-serif;
  position: relative;
  margin: 0 auto;
}

.p-aviso {
  font-size: 1rem;
  text-align: center;
  padding: 20px;
  font-family: "Camphor Pro", sans-serif;
  position: relative;
  overflow-wrap: break-word;
}

.txt-preto {color: #292929;}
.txt-branco {color: #fff;}
.txt-verde{color: #438D3B;}
.txt-green{color: #97DD96;}
.txt-roxo{color: #745FEA;}
.txt-azul{color: #0082B8;}

.background-green{background:#61F489;}
.spacing{padding: 3rem;}

/*************************************************** Grid *************************************/

.grid-text-watch-tree{
  max-width: 37rem;
  top: 2rem;
  display: flex;
  position: absolute;
}

.grid-text-watch-tree-02{
  max-width: 37rem;
  top: -1rem;
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  right: 12rem;
}

.grid-text-watch-tree-03{
  max-width: 37rem;
  top: -5rem;
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  left: 5rem;
}

.grid-text-watch-tree-04{
  max-width: 37rem;
  top: -1rem;
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  right: 12rem;
  text-align: right;
}


.grid-text-info{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 9rem;
  max-width: 36rem;
  margin: 0 auto;
}

.grid-icons{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  gap: 5rem;
  max-width: 64rem;
  margin: 0 auto;
  margin-top: 4rem;
}

.grid-txt-info{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.grid-img-watch{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.img-grid-mob{
  display: none;
}
.img-grid-desk{
  display: block;
  padding: 8rem;
}

.icon-white-desk{display: block;}
.icon-dark-mob{display: none;}


/**************************************************** Mobile ************************************************/

@media only screen and (max-width: 920px) {

  
  .icon-white-desk{
    display: none;
  }
  
  .icon-dark-mob{
    display: block;
  }

  .img-grid-desk{
    display: none;
  }

  .img-grid-mob{
    display: block;
    padding: 1rem;
  }


/******************* Grind Mobile ****************/

  .grid-img-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 20rem;
    margin: 0 auto;
    flex-direction: column;
    gap: 1rem;
    top: 1.5rem;
  }

  .grid-pad-se-text {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    max-width: 22rem;
    margin: 0 auto;
    flex-direction: row;
    gap: 3rem;
    margin-top: 1rem;
    align-content: center;
    align-items: center;
}
.grid-img-pad {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  align-items: center;
  padding: 1rem;
}

.grid-pad-se {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 17rem;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

  .grid-buds4-desk {
    display: none;
  }



/************************************************************************************/


  .spacing{
  padding: 1.5rem;
  }

  p.txt-branco-preto {
    color: #05061a;
  }
  
  .title {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
    line-height: 1;
  }

  .title-2 {
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
    margin: 2rem;
  }

  .subtitle {
    text-align: center;
    font-size: 1.09rem;
    font-weight: 700;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
    margin-bottom: 0.5rem;
  }

  .sub-title {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
    margin-bottom: 0.5rem;
  }

  .p-center {
    font-size: 0.99rem;
    text-align: center;
    padding: 20px;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
    overflow-wrap: break-word;
}

  .p-aviso {
    font-size: 0.8rem;
    text-align: center;
    padding: 20px;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
  }

  .icons-title {
    font-size: 1.9rem;
    text-align: center;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
    font-weight: 700;
    margin-top: 1rem;
}

  .icons-text {
    font-size: 1rem;
    text-align: center;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 1rem;
  }

  .icons-tex {
    font-size: 1rem;
    text-align: center;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
    font-weight: 400;
    color: #7f7f7f;
  }

  .icons-title-01 {
    font-size: 1.9rem;
    text-align: center;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
    font-weight: 700;
    color: #5c317e;
    margin-top: 1rem;
    line-height: 1.2;
}

/***********************************************************************/


  .div02 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 0.625rem;
    margin-top: 0.625rem;
    min-height: 11.25rem;
    width: 20.416667rem;
  }

  .div03 {
    align-items: flex-start;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-height: 8.333333rem;
    width: 20.395833rem;
  }

}